.Signup-Page-Main-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Signup-Btn {
    background-color: lightgreen;
    border-radius: 1rem;
    color: black;
}